{% extends "base.html" %}

{% block content %}
<div class="card shadow-lg p-4 mx-auto" style="max-width: 400px; border: 2px solid #34D399; background-color: #F0FFF4;">
    <h1 class="card-title text-primary mb-4">
        <i class="fa-solid fa-trophy"></i> JYLY
    </h1>   
    <h1 class="card-title text-success mb-3">
            Trénink dokončen!
        </h1>
        
        <hr class="my-3">

        <h2 class="display-4 font-weight-bold text-dark">
            {{ final_score }}
        </h2>
        <p class="h5 text-secondary mb-4">Finální skóre</p>

        <div class="row text-left mx-auto mb-4" style="max-width: 300px;">
            <div class="col-12 d-flex justify-content-between">
                <span class="font-weight-medium text-info"><i class="fas fa-star"></i> Úspěšnost: </span>
                <span class="font-weight-bold"> {{ "%.2f"|format((final_score / 500) * 100) }}%</span>
            </div>
        </div>

    <form method="POST" action="{{ url_for('game_over') }}">
    <div class="container text-center">

        <!-- Řádek 0 -->
        <div class="d-flex flex-wrap justify-content-center gap-2">
        <button type="submit" name="newGame" class="btn btn-primary btn-lg w-100">Hrát znovu</button>
        </div>
    </div>
    </form>
{% endblock %}
